{__NOLAYOUT__}
<div style="margin: 36px 30px">
    <form data-url="{:url('Group/update',array('id' => $group['id']))}" id="group_form" class="layui-form"  >
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">角色名称</label>
                <div class="layui-input-inline">
                    <input name="title" autocomplete="off" placeholder="请输入角色名"  value="{$group.title}" class="layui-input group_title" type="text">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="1" title="启用" {if condition="$group['status'] == 1"}checked="checked"{/if} >
                <input type="radio" name="status" value="0" title="禁用" {if condition="$group['status'] == 0"}checked="checked"{/if} >
            </div>
        </div>
    </form>
</div>
<script>
    seajs.use("admin_js/group/edit",function(edit){
        window['editGroup'] = edit.editGroup;
    })
</script>
